@import '../../assets/sass/helpers/variables';
@import '../../assets/sass/helpers/mixins';

.table-flex {
    display: flex;
    justify-content: space-between;
}

.btn-table {
    min-height: 0px !important;
    font-size: 14px !important;
}

// div[role=progressbar] > div > div {
//     border-radius: 50px 0 0 50px !important;
// }

.heading_progress {
    text-align: center;
    // width: 45%;
}

.progress-bar {
    margin-top: 5%;
}

.progress-subtitle {
    padding: 10% 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    color: #016d53;
    display: inline-block;
}

.dashboard-page {
    background-color: $color-gray-100;
    min-height: 100vh;
  }

.white-page {
    background-color: $color-white;
}

.progress-complete-heading {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500;
    color: #016d53;
    display: inline-block;
    margin-bottom: 0;
}

.progress-complete-description {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    display: inline-block;
}

.notify-text {
    font-size: 16px;
    color: $color-gray-200;
    font-weight: 500;
    margin-bottom: 10%;
}

.positiion_centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}