@import "../../sass/helpers/mixins";
@import "../../sass/helpers/variables";

.react-calendar {
  position: absolute;
  z-index: 9;
  top: 50px;
  .react-calendar__navigation {
    background-color: $color-green;
    &__arrow,
    &__label {
      color: $color-white;
    }
    button:enabled:hover {
      background-color: $color-green-100 !important;
    }
  }
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: $color-green-100 !important;
}
.react-calendar__tile--active {
  background-color: $color-green !important;
}
.react-calendar__tile--now {
  background-color: $color-green-200 !important;
}
.react-calendar__month-view__days__day--weekend {
  color: $color-orange !important;
}
